.page-2 {
  text-align: center;
}

.A4-wrapper {
  margin: 0 auto;
  border: 1px solid black;
  text-align: center;
  width: 21cm;
}

.export-table {
  margin: 0 auto;
  width: 20cm;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.export-table .export-title header{
  display: block;
  width: 20cm;
  text-align: left;
  font-size: 1.5rem;
  font-weight: 700;
  padding: 10px;
}

.export-table .component {
  max-width: 10cm;
  max-height: 7cm;
  display: flex;
  flex-wrap: wrap;
  border: 1px solid black;
  border-collapse: collapse;
  box-sizing: border-box;
  justify-content: space-between;
}

.component:nth-of-type(10n+2), .component:nth-of-type(10n+3) {
  max-height: 7.5cm;
}
 

.export-table.component .title-bar {
  width: 100%; 
}

.export-table .component .col {
  min-width: 1.5cm;
}


.export-table .component .export-text {
  max-width: 1.5cm;
  text-align: center;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  position: relative;
}

.export-table .component .export-text .label-title {
  position: relative;
  top: 20%;
}

.export-table .component .export-text .defect-icon {
  position: relative;
  top: 60%;
}

.export-table .component .export-img {
  justify-content: space-between;
  max-width: 8.3cm;
  width: 8.3cm;
}

.export-table .component .export-textarea {
  width: 100%;
  text-align: center;
}

.export-table .component textarea {
  width: 90%;
  max-height: 1.5cm;
  resize: none;
  border: none;
  font-size: 12px;
  font-family: sans-serif;
}

.export-table .component textarea:hover {
  background-color: rgba(240, 240, 240, 1);
  border: 1px solid black;
}

.export-table .component .col img {
  max-width: 7.5cm;
  max-height: 5.6cm;
}

.page-break {
  height: 50px;
  width: 100%;
  break-after: always;
}
