/*
 * Dimensions of the page are 21cm x 29.7cm
 * We leave a 0.5cm margin in the left and right directions
 * And hopefully a minimum margin of 0.3cm at each end
 * That means our working area is 20cm x 29cm
 * Vertical height: 
 * Header: 1cm
 * 4 rows of 'components': 7cm each -> 28cm
 * Legend
 */
 
.page-2 {
  text-align: center;
}

.A4-wrapper {
  margin: 0 auto;
  border: 1px solid black;
  text-align: center;
  width: 21cm;
}

.export-table {
  margin: 0 auto;
  width: 20cm;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.export-table .export-title header{
  display: block;
  width: 20cm;
  height: 1.2cm;
  text-align: left;
  font-size: 1.5rem;
  font-weight: 700;
  vertical-align: bottom;
  display: table-cell;
}

.export-table .component {
  max-width: 10cm;
  max-height: 7cm;
  display: flex;
  flex-wrap: wrap;
  border: 1px solid black;
  border-collapse: collapse;
  box-sizing: border-box;
  justify-content: space-between;
}

.component:nth-of-type(11n+2), .component:nth-of-type(11n+3) {
  max-height: 7.5cm;
}
 
.export-table.component .title-bar {
  width: 100%; 
}

.export-table .component .col {
  min-width: 1.5cm;
}

.export-table .component .export-text {
  max-width: 1.5cm;
  text-align: center;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  position: relative;
}

.export-table .component .export-text .label-title {
  position: relative;
  top: 20%;
}

.export-table .component .export-text .defect-icon {
  position: relative;
  top: 60%;
}

.export-table .component .export-img {
  justify-content: space-between;
  max-width: 8.3cm;
  width: 8.3cm;
  border-bottom: 1px solid black;
}

.export-table .component .export-textarea {
  width: 100%;
  text-align: center;
}

.export-table .component textarea {
  width: 98%;
  max-height: 1.5cm;
  resize: none;
  border: none;
  margin: 0;
  font-size: 12px;
  font-family: sans-serif;
}

.export-table .component textarea:hover {
  background-color: rgba(240, 240, 240, 1);
  border: 1px solid black;
}

.export-table .component .col img {
  max-width: 7.5cm;
  max-height: 5.6cm;
}

.defect-legend {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.defect-legend img {
  vertical-align: middle;
}

.page-break {
  height: 50px;
  width: 100%;
  break-after: always;
}
