* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    height: 100%;
    width: 100%;
}


canvas {
    align-self: flex-start;
    padding: 0;
    margin: 0;
    border: 1px solid black; display: block;
    background-color: rgba(220, 220, 220, 1);
}

nav {
  width: 100%;
  position: fixed;
}

nav li {
  display: inline-block;
  min-width: 200px;
  height: 40px;
  text-align: center;
  line-height: 40px;/* centers text vertically */
  font-size: 24px;
  border: 1px solid black;
  border-bottom: none;
  border-radius: 0.5rem 0.5rem 0 0;
  margin-right: 2px;
  padding-left: 10px;
  padding-right: 10px;
}

nav li:hover {
  cursor: pointer;
  background-color: rgba(240, 220, 200, 1);
}

nav .active {
  background-color: rgba(240, 220, 200, 1);
}


.hidden {
  /*
  display: none;
  */
}

.wrapper {
  margin-left: 10px;
  margin-right: 10px;
  height: 100%;
  display: flex;
}

.page-1, .page-2, .page-3 {
  margin-top: 40px; 
  height: calc(100%-40px);
  width: 100%;
 } 

.page-1 {
  display: flex;
}

.col1, .col2 {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding-bottom: 10px;
}

.col1 {
  width:100%;
}

.col2 {
  width: 400px;
 }

.button {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  z-index: -1;
}

.button + label, .label {
  font-size: 30px;
  display: inline-block;
  border: 2px solid black;
  padding: 10px;
  background-color: rgba(255, 255, 255, 1.0);
  color: black;
  text-decoration: none;
}
.button + label, .label{
  cursor:pointer;
}
.button + label:hover, .label:hover{
  background-color: rgba(240, 220, 200, 1);
}

#img-preview {
  min-height: 300px;
  min-width: 300px;
  border: 2px solid black;
}

.edit-bar {
}

.nav {
  font-size: 30px;
  width: 80px;
  height: 80px;
  display: inline-block;
  border: 2px solid black;
  padding: 10px;
  background-color: rgba(255, 255, 255, 1.0);
  color: black;
  text-decoration: none;
  cursor:pointer;
}

.nav:hover {
  background-color: rgba(240, 220, 200, 1);
}

