#tag-tables,  #tag-tables tr, #tag-tables td {
  width: 400px;
  font-family: monospace;
  text-align: center;
  border-collapse: collapse;
  border: 1px solid black;
}

#tag-tables thead {
  display: block;
}

#tag-tables tbody {
  display: block;
  height: 468px;
  max-height: 468px;
  overflow-y:scroll;
}

#tag-tables tr:hover {
  background-color: rgba(200, 200, 200, 1);
}
#tag-tables td .editable {
  text-decoration: underline; 
}
#tag-tables table a {
  text-align: center;
  color: red;
  text-decoration: underline;
}
#tag-tables table a:hover {
  cursor: pointer;
}
